{# templates/inc/_contact.html.twig #}

<div class="modal fade" id="contactModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalTitle">Contact Me</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The best place(s) to reach me are:
                <ul>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/danieljchadwick/" target="_blank">in/danieljameschadwick</a></li>
                    <li>E-Mail: <a href="mailto:djchadwick@outlook.com">djchadwick@outlook.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>