{% extends 'index.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('portfolio') }}
{% endblock javascripts %}

{% block page_content %}
    <!-- main container -->
    <div class="container p-2">
        <div id="skillCards" class="grid-row info-row"></div>
    </div>

    <!-- about me -->
    <div id="about-me" class="container-fluid bg-dark text-light">
        <div class="about-content p-5">
            <h2 class="heading">About Me</h2>
            <p>
                Junior Developer at Wren Kitchens working with mainly PHP7/Symfony, LESS/CSS, JavaScript, Twig/HTML,
                MySQL on a variety of internal and external services. Also experienced using Doctrine ORM, PHPUnit,
                Behat, RabbitMQ, AWS, Docker, and Elasticsearch.
            </p>

            <p>
                I studied at the University of Hull for my BSc Computer Science. Whilst at University I mainly used C#
                but have developed in PHP, Java, C++, C and JavaScript and studied an array of key concepts such as MVC
                frameworks, data structures, and algorithms to name a few.
            </p>

            <p>
                Prior to studying I worked for 2 years at an online eCommerce retailer as a Full Stack Developer
                focusing on PHP eCommerce/management systems, scripts and software environments.
            </p>

            <p>Some of my work is featured below.</p>
        </div>
    </div>

    <!-- placeholder -->
    <div class="container p-4 mt-1">
        <h3>My Work</h3>
        <div id="workCards" class="grid-row info-row"></div>
    </div>
{% endblock page_content %}