.grid-row
{
    display:         flex;
    flex-flow:       row wrap;
    justify-content: flex-start;
}

.grid-item
{
    flex-basis: 33%;
    -ms-flex:   auto;
    width:      259px;
    position:   relative;
    padding:    0 10px 10px 0;
    box-sizing: border-box;

    @media (max-width: 1333px)
    {
        flex-basis: 50%;
    }

    @media (max-width: 640px)
    {
        flex-basis: 100%;
    }
}

.grid-item-wrapper
{
    -webkit-box-sizing: initial;
    -moz-box-sizing:    initial;
    box-sizing:         initial;
    background:         #ECECEC;
    margin:             0;
    height:             100%;
    width:              100%;
    overflow:           hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition:         padding 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    position:           relative;
}

.grid-image-top
{
    position: relative;

    img
    {
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter:         blur(2px);
        object-fit:     cover;
        max-height:     420px;
        width:          100%;
    }

    .item-title
    {
        position:    absolute;
        top:         50%;
        left:        50%;
        transform:   translate(-50%, -50%);
        line-height: 26px;
        margin:      10px;
    }
}

.item-title
{
    @apply text-xl text-center font-bold mb-8;
}

.grid-item-content
{
    padding: 20px;

    p
    {
        @media (max-width: 500px)
        {
            font-size: 16px;
        }
    }

    .title-wrapper
    {
        @apply text-center mb-1;
    }

    .svg-wrapper
    {
        @apply flex justify-center mb-3;
    }

    .svg-item
    {
        @apply w-8 mx-1;
    }
}