<div class="footer-container bg-dark">
    <div class="site-info">
        <div class="footer-brand">
            <img src="{{ asset('img/brand_logo.png') }}" width="30" height="30" alt="">
            <span>Daniel Chadwick</span>
        </div>
        <p>
            Powered by Symfony 4.
            <br/>
            <small>Built with Bootstrap 4.</small>

        </p>
    </div>
</div>